body {
background-image: url('background.png');
}

form.main_buttons
{
    position: fixed;
    left: 0;
    top: 45%;
    text-align: center;
    transform: rotate(-90deg);
    margin-left: -12vw;
    margin-bottom: 5vh;
}

input.puk
{
font-size: 2vw;
width: 16vw;
height: 10vh;
margin-bottom: 5vh;

}

input.thread_button
{
width: 6vw;
height: 5vh;
font-size:1vw;
margin-left: 0.1vw;
}

form.make_thread_button
{
    position: fixed;
    top: 47%;
    text-align: right;
    transform: rotate(90deg);
    margin-left: 82vw;
}


h1.main_text {
color: #ffffff;
font-size: 2.7vw;
}

h4.main_text {
color: #f5f5f5;
line-height: 4vh;
font-size: 1vw;
margin-left: 12vw;
}

h1.profile_text{
color: #f5f5f5;
margin-left: -10px;
font-size: 300%;
}

h1.status_text{
color: #f5f5f5;
margin-left: 0.6vw;
}

h2.thread_name{
font-size: 2vw;
color: #78DBE2;
background-color: #161a1e
}

div.author_signature{
font-size: 1.3vw;
color: #f5f5f5;
background-color: #4285B4
}

div.answerer_signature{
font-size: 1.3vw;
color: #FFFFF0;
background-color: #333333
}

div.thread_text{
font-size: 1vw;
color: #f5f5f5;
background-color: #1c1c1c;
margin-left: 0.8vw;
display: flex;
}

div.answer_text{
font-size: 1vw;
color: #FFFFF0;
background-color: #1e1e1e;
margin-left: 0.8vw;
display: flex;
}


IMG.logo {
    float: left; /* Обтекание картинки по левому краю */
    width: 50px;
    margin-left: 0.2vw;
    }

IMG.main_image {
     display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60vw;
  height: 62vh
    }

IMG.profile_image {
     display: block;
  margin-left: -0.5vw;
  margin-right: auto;
  width: 70vh;
  height: 70vh;
    }

IMG.author_image {
     display: block;
  margin-left: auto;
  margin-right: auto;
  float: left;
  margin: 0px 12px 0px 0px;
    }

IMG.thread_image {
     display: block;
  margin-left: auto;
  margin-right: auto;
  float: right;
  margin: 0px 12px 0px 0px;
    }
