body {
background-image: url('background.png');
}

form.main_buttons
{
position: absolute;
left: 370px;
width: 300px;
height: 100px;
font-size:300%;
margin-bottom: 50px;
margin-left: -190px;
}

form.main_buttons button
{
left: 100px;
width: 300px;
height: 100px;
font-size:100%;
margin-bottom: 50px;
margin-left: -155px;
}

input.puk
{
left: 100px;
width: 300px;
height: 100px;
font-size:100%;
margin-bottom: 50px;
margin-left: -155px;

}


h1.main_text {
color: #ffffff;
}

h4.main_text {
color: #f5f5f5;
line-height: 40px;
}


IMG.logo {
    float: left; /* Обтекание картинки по левому краю */
    width: 50px;
    margin-right: 10px;
    }

IMG.main_image {
     display: block;
  margin-left: auto;
  margin-right: auto;
    }
