{% extends "forum_header.html" %}

{% block content %}
    <h1><font color="white">Авторизация</font></h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            <font color="white">{{ form.login.label }}</font><br>
            {{ form.login(class="form-control") }}<br>
            {% for error in form.login.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            <font color="white">{{ form.password.label }}</font><br>
            {{ form.password(class="form-control", type="password") }}<br>
            {% for error in form.password.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ form.remember_me() }} <font color="white">{{ form.remember_me.label }}</font></p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        <div><font color="white">{{ message }}</font></div>
    </form>
{% endblock %}