<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
{% extends "forum_header.html" %}

{% block content %}
    <h1 class="text-center main_text">Присаживайся, тут место всегда найдётся</h1>
    <br>
    <form class="main_buttons" method="post">
        <input type="submit" class="btn btn-dark puk" value="Профиль" name="button">
        <input type="submit" class="btn btn-dark puk" value="Обсуждения" name="button">
    </form>
    <h4 class="main_text">Ты снова здесь? Ну как оно? <br> Ну а если ты здесь
        впервые, то добро пожаловать. Это форум для общения на любую тематику всех
        тех, кого сюда занесло: листай треды, отвечай или кидай смешные пикчи
        (можно и то, и другое), сам
        создавай. Зарегистрируйся (учти, что твоя пикча профиля
        сожмётся до квадрата.) и вперёд к нам, в "Обсуждения". Если нужно сменить
        профиль, тыкни на название текущего в левом верхнем углу.</h4>
    <img src="/static/img/main_img.png" class="main_image">
{% endblock %}
</body>
</html>