<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
{% extends "forum_header.html" %}

{% block content %}
    <h1 class="text-center main_text">Здесь будет располагаться текст приветсвия</h1>
    <br>
    <h4 class="main_text">Здесь описание форума: для чего, как работает и всякое такое.
    Здесь описание форума: для чего, как работает и всякое такое.
    Здесь описание форума: для чего, как работает и всякое такое.
    Здесь описание форума: для чего, как работает и всякое такое.
    Здесь описание форума: для чего, как работает и всякое такое.
    Здесь описание форума: для чего, как работает и всякое такое.
    Здесь описание форума: для чего, как работает и всякое такое.
        Здесь описание форума: для чего, как работает и всякое такое.</h4>
    <img src="/static/img/main_img.png" class="main_image">
{% endblock %}
</body>
</html>