{% extends "forum_header.html" %}

{% block content %}
<h1><font color="white">Регистрация</font></h1>
<font color="white">{{message}}</font>
<form action="" method="post", enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <p>
        <font color="white">{{ form.login.label }}</font><br>
        {{ form.login(class="form-control") }}<br>
        {% for error in form.login.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        <font color="white">{{ form.password.label }}</font><br>
        {{ form.password(class="form-control", type="password") }}<br>
        {% for error in form.password.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        <font color="white">{{ form.password_again.label }}</font><br>
        {{ form.password_again(class="form-control", type="password") }}<br>
        {% for error in form.password_again.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        <font color="white">{{ form.photo.label }}</font><br>
        <font color="white">{{ form.photo(class="form-input", enctype="multipart/form-data") }}</font><br>
        {% for error in form.password_again.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
</form>
{% endblock %}