<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
{% extends "forum_header.html" %}

{% block content %}
<h2 class="thread_name"> {{ title }}</h2>
<div class="author_signature">
    <img src="data:image/jpeg;base64,{{ thread_head['avatar'] }}" class="author_image">
    <h4>{{ thread_head["author"] }}</h4>
</div>
<div class="thread_text">{{ thread_head["text"] }}</div>
<br>
<form method="post">
    <input type="submit" class="btn btn-dark answer_button" name="button"
               value="Ответить {{ thread_head['author'] }}">
    <br>
    {% for answer in thread_content %}
        <div class="answerer_signature">
        <img src="data:image/jpeg;base64,{{ answer['avatar'] }}" class="author_image">
        <h4>{{ answer["author"] }}</h4>
        </div>
        <div class="answer_text">{{ answer["text"] }}</div>
        <br>
    {%endfor%}

    <textarea class="form-control"
              style="margin-top: 30%; width: 60%; position: fixed;" name="answer"
              rows="3" placeholder="Введите текст и через кнопку ответа выберите поулчателя">
    </textarea>
</form>
<br>
{% endblock %}
</body>
</html>