<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
{% extends "forum_header.html" %}

{% block content %}

<br>
<form class="main_buttons" method="post" style=”margin-top:200px”>
    <input type="submit" class="btn btn-dark puk" value="Главная" name="button">
    <input type="submit" class="btn btn-dark puk" value="Профиль" name="button">
</form>
<form class="make_thread_button" method="post" style=”margin-top:200px”>
    <input type="submit" class="btn btn-dark" value="Создать тред" name="button"
           style="width: 300px; height: 100px; font-size:100%;">
</form>
{% for thread in list_of_threads %}
    <h2 class="thread_name">{{ thread["thread_name"] }}</h2>
    <img src="data:image/jpeg;base64,{{ thread['author_picture'] }}" class="author_image">
    <div class="author_signature">
    <h4>{{ thread["author_name"] }}</h4>
    </div>
    <div class="thread_text">{{ thread["thread_text"] }}</div>
    <br>
    <br>

    <div class="answerer_signature">
    <img src="/static/img/profile_default.png" class="author_image">
    <h4>{{ thread["first_answer"]["answerer_name"] }}</h4>
    </div>
    <div class="answer_text">{{ thread["first_answer"]["answer_text"] }}</div>
    <br>

    <div class="answerer_signature">
    <img src="/static/img/profile_default.png" class="author_image">
    <h4>{{ thread["second_answer"]["answerer_name"] }}</h4>
    </div>
    <div class="answer_text">{{ thread["second_answer"]["answer_text"] }}</div>
    <br>

    <div class="answerer_signature">
    <img src="/static/img/profile_default.png" class="author_image">
    <h4>{{ thread["third_answer"]["answerer_name"] }}</h4>
    </div>
    <div class="answer_text">{{ thread["third_answer"]["answer_text"] }}</div>
    <br>

    <div class="answerer_signature">
    <img src="/static/img/profile_default.png" class="author_image">
    <h4>{{ thread["fourth_answer"]["answerer_name"] }}</h4>
    </div>
    <div class="answer_text">{{ thread["fourth_answer"]["answer_text"] }}</div>
    <br>
    <form method="post">
    <input type="submit" class="btn btn-dark puk thread_button" name="button"
           value="В тред {{ loop.index }}">
    </form>
{%endfor%}

{% endblock %}

</body>
</html>